@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('/static/output.css')


:root {
  --white: #fffffb;
  --black: #000000;
  --lightgreen: #e9fae3;
  --green: #dee8d5;
  --cream: #d5c7bc;
  --purple: #3D348B;
  --red: #6B2737;
  --blue: #3943B7;
}

body {
  font-family: "Roboto Condensed";
}


.blocked-row{
  color: var(--color-error-content);
}

