<!DOCTYPE html>
<html data-theme="caramellatte">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ARP & TCP Scan</title>

  <link rel="stylesheet" href="/static/output.css">

    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        button {
            border: none;
            cursor: pointer;
        }


        table {
            width: 80%;
            border-collapse: collapse;
        }

        th, td {
            text-align: left;
        }

        a{
				text-decoration: none;
			}
    </style>
  
</head>

<body>

  {% include 'nav.html' %}
  <!-- Trigger scan -->
  <form method="POST">
    {% csrf_token %}
    <div class="join">
    <button class="btn join-item disabled">ARP & TCP Network Scanner</button>    
    <button class=" join-item btn btn-primary" type="submit">Start Scan</button>
    </div>
  </form>
  <br>
  <br>
  <br>

  <!-- ARP scan table -->
  <h2>ARP Scan Results</h2>
  {% if arp_result %}
  <table class="table">
    <thead>
      <tr>
        <th>IP Address</th>
        <th>MAC Address</th>
      </tr>
    </thead>
    <tbody>
      {% for item in arp_result %}
      <tr>
        <td>{{ item.ip }}</td>
        <td>{{ item.mac }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="message">No ARP results yet.</div>
  {% endif %}


  <!-- TCP scan table -->
  <h2>TCP Port Scan Results</h2>
  {% if tcp_result %}
  <table class="table">
    <thead>
      <tr>
        <th>IP Address</th>
        <th>Open Port</th>
      </tr>
    </thead>
    <tbody>
      {% for item in tcp_result %}
      <tr>
        <td>{{ item.ip }}</td>
        <td>{{ item.port }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="message">No TCP results yet.</div>
  {% endif %}


  <script>
    nav_scan.classList.remove("btn-ghost")
    nav_scan.classList.add("btn-success")
  </script>

</body>

</html>
