<html>
	<head>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

				body{
					font-size: 1.3em;
					font-family: "Roboto Condensed";
					background-color: #fbfcf9;
				}
		</style>
	</head>
	<body>
		IP YOU WANT TO BLOCK
		<form method="POST" action="/filteration" accept-charset="utf-8">
			<input type="text" name="ipstring" required></input>
			<button type="submit">submit</button>
		</form>
		PROTOCOL YOU WANT TO BLOCK
		<form method="POST" action="/filteration" accept-charset="utf-8">
			<select name="ipstring" required>
				<option value="1">ICMP</option>
				<option value="4">IPv4</option>
				<option value="6">TCP</option>
				<option value="41">IPv6</option>
				<option value="43">IPv6-Route</option>
				<option value="44">IPv6-Frag</option>
				<option value="58">IPv6-ICMP</option>
				<option value="59">IPv6-NoNxt</option>
				<option value="60">IPv6-Opts</option>
			</select>
			<button type="submit">submit</button>
		</form>
	</body>
</html>
