<!DOCTYPE html>
<html>
<head>
	<title>IP Logs</title>

    <style>
        #iptables, #headtable{
            width: 500px;
            border-collapse: collapse;
        }
        #iptables th, #iptables td {
            border: 1px solid black;
            padding: 4px;
        }

			  #headtable th:first-child {
			    width: 77%;
			  }
    </style>	
</head>
<body>
	<h1>IP Logs</h1>

	<form method="POST" action="/filter" accept-charset="utf-8">
		<input type="text" name="ipstring" required></input>
		<button type="submit">submit</button>
	</form>

	<table id="headtable" border=1>
		<tr>
			<th>Ip address</th>
			<th>Packet Size</th>
		</tr>
	</table>

	<table id="iptables" border=1>
		<tr>
		</tr>
	</table>

	<div id="log">
	</div>

	<script>
	
	const iptablesBody = document.getElementById("iptables").getElementsByTagName('tbody')[0];
		const eventSource = new EventSource("/incoming/");
		eventSource.onmessage = function(event) {

        const json = JSON.parse(event.data);
        const ip = json.ip;
        const packet = json.packet;

        const ipCell = document.createElement("td");
        ipCell.innerText = ip;
        const packetCell = document.createElement("td");
        packetCell.innerText = packet;

        const newRow = document.createElement("tr");
        newRow.appendChild(ipCell);
        newRow.appendChild(packetCell);

        iptablesBody.insertBefore(newRow, iptablesBody.firstChild); // Insert at the beginning
		};
	</script>
</body>
</html>
