<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css" />
	<script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
	<title>All The Incoming IP Addresses</title>
	<link rel="stylesheet" href="static/style.css"></link>
</head>

<body>
	<div class="container">
		<div class="navigation">
			<a href="/" style="text-decoration: underline">Incoming Traffic</a>
			<span>/</span>
			<a href="/filter">Filter</a>
			<span>/</span>
			<a href="/arp_scan">Scan</a>
		</div>

		<table id="iptables" class="cell-border compact hover">
			<thead>
				<tr>
					<th>Index</th>
					<th>IP Address</th>
					<th>PKT Size</th>
				</tr>
			</thead>

			<tbody>
			</tbody>
		</table>
	</div>

	<script>

		let table = new DataTable('#iptables', {
			responsive: true,
			columns: [{width: '10%'}, {className: 'dt-body-center'}, {width: '10%'}],
			pageLength: "25",
			order: [[0, 'desc']]
		});

		const eventSource = new EventSource("/incoming/");

		var index = 1
		eventSource.onmessage = function (event) {
			const json = JSON.parse(event.data);
			const ip = json.ip;
			const packet = json.packet;
			var blocked = false;
			if (json.blocked == "True") {
				blocked = true;
			}

			let row = table.row.add([index, ip, packet]).draw(false).node();
			if (blocked) {
				$(row).addClass('blocked-row');
			}
			index += 1
			
		}
	</script>
</body>

</html>
